@import "../../variables.scss";

.storePageForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3981967787114846) 0%,
    rgba(43, 43, 43, 0.9864320728291317) 100%
  );
  border: gold solid 2px;
  border-left: none;
  border-right: none;
  align-items: center;
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.customSelect,
select {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.categorySelect {
  width: 300px;
}
.brandTypeClass {
  text-transform: capitalize;
}
.searchBar {
  @include FlexRow;
  align-items: center;
}
.searchIcon {
  background-color: lightgray;
  height: 45px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider {
  width: 300px;
}
.slider-parent {
  @include FlexColumn;
  background-color: whitesmoke;
  border: 3px solid #ccc;
  border-radius: 34px;
  justify-content: center;
  padding: 12px 0px;
  text-align: center;
}
.secondForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  padding: 30px;
}
.sortButtonForm {
  background-color: darkgreen;
  border: 3px solid #ccc;
  border-radius: 34px;
  padding: 22px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.info-content {
  h3 {
    font-family: "Raleway", Times New Roman, Times, serif;
  }
  p {
    text-transform: capitalize;
  }
}
.clickedSortButton {
  background-color: darkblue;
}
.mainStoreContainer {
  @include Maxsize100;
  background-color: rgb(5, 5, 49);
  border-top: gold solid 5px;
  display: flex;
  justify-content: center;
  padding: 5%;
}
@media only screen and (max-width: 725px) {
  .taglistFormContainer {
    display: none;
  }
  .secondForm {
    display: none;
  }

  .customSelect {
    width: 100%;
    margin-left: 10px;
  }
  .search {
    margin-left: 0;
  }
}
@media only screen and (max-width: 450px) {
  .customSelect {
    width: 100%;
  }
  .storePageForm {
    justify-content: center;
  }
}
