.emptyShoppingCart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.emptyShoppingCart h3 {
  text-align: center;
  width: 100%;
  font-size: clamp(2rem, 1.7662rem + 1.039vw, 3rem);
  text-transform: capitalize;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shoppingCartSection {
  display: flex;
  flex-direction: row;
  padding: 140px 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  min-height: 75vh;
  position: relative;
}

.shoppingCartList {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 50%;
}
.shoppingCartItem {
  width: 100%;
  height: 250px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  margin-bottom: 20px;
  flex-direction: row;
  border: solid gray 2px;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  padding: 20px;
}
.shoppingCartItem img {
  width: 200px;
  height: 200px;
}
.cartItems {
  margin-left: 20px;
}
.totalCart {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 38px;
  width: 100%;
  height: auto;
}
.totalCheckOut {
  margin-left: 50px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.totalCheckOut button {
  width: 200px;
  height: 50px;
  background-color: rgb(5, 5, 49);
  border: solid gold 3px;
  font-family: Lato;
  cursor: pointer;
  color: white;
}
.shoppingCartItem button {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  font-weight: 900;
}

.shoppingCartItem button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 925px) {
  .shoppingCartSection {
    flex-direction: column;
  }
  .shoppingCartList {
    width: 100%;
    padding-right: 30px;
  }
}
