@import "../variables.scss";

@mixin Max100Size {
  width: 100%;
  height: 300px;
}

.image {
  @include Max100Size;

  img {
    @include Max100Size;
    border-radius: 25px;
  }
}

.productListMakeupAPI {
  @include FlexRow;
  flex-wrap: wrap;
  border-top: solid gold 5px;
  border-bottom: solid gold 5px;
  background-color: rgb(5, 5, 49);
  position: relative;
  width: 100%;
  padding: 50px;
  justify-items: center;
  gap: 48px;
  grid-template-columns: 208px 1fr;

  a {
    width: 20%;
    min-width: 300px;
    height: auto;
    margin: 20px;
    box-sizing: border-box;

    li {
      list-style: none;
      border-radius: 25px;
      box-shadow: 5px 5px 5px 0px green;
      -webkit-box-shadow: 5px 5px 5px 0px green;
      -moz-box-shadow: 5px 5px 5px 0px green;
      padding: 10px;
      width: 100%;
      height: 100%;
      border: solid lightgrey 2px;
      border-radius: 25px;
      background-color: white;
      text-align: center;
      margin: 0;
    }
  }

  h3 {
    margin-top: 5px;
  }
}

.resultsNone {
  min-height: 50vh;
  height: 100%;
  background-color: rgb(5, 5, 49);
  justify-content: center;
  flex-direction: column;
  h3 {
    @include MediumHeading;
    color: white;
    text-align: center;
  }
}

.initalPageLoad {
  min-height: 50vh;
  width: 100%;
  height: 100%;
  background-color: rgb(5, 5, 49);
  align-items: flex-start;
  justify-content: center;

  h3 {
    @include MediumHeading;
    color: white;
    text-align: center;
  }
}
.productListMakeupAPI li:hover {
  outline: solid goldenrod 5px;
  background-color: black;
  color: white;
}

.Left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.storefront {
  background-image: url("../../public/images/001.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  padding: 50px;
  margin: 0;
  background-color: gold;
  li {
    list-style: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px black;
    -webkit-box-shadow: 5px 5px 5px 0px black;
    -moz-box-shadow: 5px 5px 5px 0px black;
    padding: 10px;
    min-width: 300px;
    margin: 20px;
    border: solid lightgrey 2px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin: 0;
  }
}
.ring {
  margin: auto;

  border: 10px solid #eaf0f6;

  border-radius: 50%;

  border-top: 10px solid goldenrod;

  width: 100px;

  height: 100px;

  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 725px) {
  .storefront {
    display: none;
  }
  .productListMakeupAPI {
    justify-content: center;
  }
}
