@import "../variables.scss";

.titleQuote {
  @include FontSettingsParagraph;
  margin-top: 25px;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (max-width: 625px) {
  .titleQuote {
    display: none;
  }
}
