@import "variables";

@mixin GlobalButtonsSettings {
  position: fixed;
  align-items: center;
  border: solid gold 2px;
  border-radius: 90%;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: clamp(2rem, 1.7662rem + 1.039vw, 3rem);
  width: clamp(4rem, 3.7662rem + 1.039vw, 5rem);
  height: clamp(4rem, 3.7662rem + 1.039vw, 5rem);
  justify-content: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

html {
  --color-Nav: rgb(5, 5, 49);
  --color-Nav-font: white;
  --color-Banner: black;
  --font-color-white: white;
  --colour-storeFrontPictures: rgb(191, 20, 39);
}
html[data-theme="dark"] {
  --color-Nav: #010b13;
  --color-Nav-font: white;
  --color-Banner: black;
  --font-color-white: white;
  --colour-storeFrontPictures: #2c2c2c;
}

html[data-theme="snowy"] {
  --color-Nav: rgb(191, 20, 39);
  --color-Nav-font: white;
  --color-Banner: rgb(2, 47, 2);
  --font-color-white: white;
  --colour-storeFrontPictures: white;
}
body {
  overflow-x: hidden;
}
.pausePlayButton {
  bottom: 85px;
  right: 10px;
  @include GlobalButtonsSettings;
}

.pausePlayButton:hover {
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-color: white;
  transition: ease-in-out 0.5s;
  transform: rotate(360deg);
}
.scrollUp {
  bottom: 185px;
  right: 10px;
  @include GlobalButtonsSettings;
}

.scrollUp:hover {
  color: gold;
  i {
    animation: MoveUpDown 1s linear infinite;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.loginSignUpFormContainer {
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  justify-content: center;
}
.login {
  background-color: pink;
  @include ImageCover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../public/images/005.webp");
}
.signUp {
  background-color: #010b13;
  @include ImageCover;
  background-image: url("../public/images/007.webp");
}
.signUp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../public/images/007.webp");
  transition: all 0.4s ease-in-out 0s;
}
.loggedOutPage {
  background-color: black;
}
.loginSignUpFormContainer form {
  @include FlexColumn;
  background-color: lightgray;
  padding: 50px;
  color: black;
  text-transform: capitalize;
  border-radius: 25px;
  border: solid black 3px;
  width: 500px;
}
.loginSignUpFormContainer input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 4px;
  box-sizing: border-box;
}
.buttonListFormLogin {
  @include FlexRow;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.buttonListFormLogin button {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  @include TextAliginCenter;
  text-decoration: none;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 25px;
  border: solid darkgray 2px;
  cursor: pointer;
}
.buttonListFormLogin button:hover {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
p {
  @include FontSettingsParagraph;
}
