html {
  --color-Nav: rgb(5, 5, 49);
  --color-Nav-font: white;
  --color-Banner: black;
  --font-color-white: white;
  --colour-storeFrontPictures: rgb(191, 20, 39);
}
html[data-theme="dark"] {
  --color-Nav: #010b13;
  --color-Nav-font: white;
  --color-Banner: black;
  --font-color-white: white;
  --colour-storeFrontPictures: #2c2c2c;
}

html[data-theme="snowy"] {
  --color-Nav: rgb(191, 20, 39);
  --color-Nav-font: white;
  --color-Banner: rgb(2, 47, 2);
  --font-color-white: white;
  --colour-storeFrontPictures: white;
}
body {
  overflow-x: hidden;
}
